<a href="https://colab.research.google.com/github/Zaenur736/SoftEng/blob/main/Summary.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# Contoh penggunaan Variabel

a = 10 # Integer
b = 3.14 # Float
c = "Z" # String
d = 'Zaenur ' # String
e = "Ismail" #Character
f = "IT Student" # String
g = True # Boolean
h = False # Boolean
i = [] # Initialize List
j = [1,2,3] # List with value 
k = {} # Dictionary 
l = () # Tuple

# Integer, Float, String, Boolean, List, Dictionary, Tuple

In [ ]:
# Print for debugging
print (a)
print (c + e)
print(j)

10
ZIsmail
[1, 2, 3]

In [ ]:
# Concatination
nama = "Zaenur"
umur = 19
Alamat = "Jambi"

print("Hello namaku " + nama)
print("Sekarang aku berumur : {}".format(umur))
print("Hai namaku {}, sekarang diriku berumur {}, dan aku tinggal di {} ".format(nama, umur, Alamat))

Hello namaku Zaenur
Sekarang aku berumur : 19
Hai namaku Zaenur, sekarang diriku berumur 19, dan aku tinggal di Jambi

In [ ]:
#User Input
nama = input()

Zaenur

In [ ]:
#Operator
import math
a + b
a - b
a * b         #Multiplication
a / b         #Float Division
a // b        #Int Division
a ** b        #Power of
a % b         #Modulus
a ** (1/2)    #Square root
math.sqrt(a)  #Square root with math Library Function
math.sin(a)
math.cos(a)
math.tan(a)
math.log(a)

2.302585092994046

In [ ]:
#If else
a = int(input("Please Input your Grade :) = "))

if a < 20 and a > 0:
  print("Your Grade is E")
elif a < 40 and a > 20:
  print("Your Grade is D")
elif a < 60 and a > 40:
  print("Your Grade is C")
elif a < 80 and a > 60:
  print("Your Grade is B")
else:
  print("Your Grade is A")

Please Input your Grade :) = 90
Your Grade is A